body{
    background-color: #000;
}

#main-container{
    height: 600px;
    width: 400px;
    border: 2px solid #000;
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/newsbg.png");  
    background-size:cover ;
    margin: auto;
}

#text-container{
    height: 270px;
    width: 100%;
    /* border: 2px solid red; */
    margin: 330px 0 0 0;
    background-color: #fff;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    display: flex;
    justify-content: center;
    
}

#text{
    height: 230px;
    width: 90%;
    /* border: 2px solid red; */
    margin:10px 0 0 30px;
    font-family:sans-serif;
}

.headline{
    font-size: 20px;
    font-weight: bold;
}

h5{
    color: rgba(70, 55, 55, 0.992);
}

p{
    font-size: 12px;
}



.b1{
    height: 30px;
    width: 100px;
    font-size: 12px;
    border-radius: 5px;
}

.back{
    height: 30px;
    width: 50px;
    background-color: rgb(1, 133, 249);
    color: white;
    border-radius: 5px;
}